/**** Global page styling ****/

body {
	
}

/**** Appliance view ****/

#viewer {
	width: 720px;
	margin: 0px auto;
	top: 40px;
}

/**** Toolbar ****/

#toolbar {
	height: 2em;
	padding: 0px;
	width: 100%;
	background: rgb(84, 114, 16);
}

/**** Options ****/

#options {
	margin: 0px auto;
	width: 720px;
	height: 2em;
}

#options select {
	display: inline-block;
	width: 160px;
}

#options form {
	display: inline-block;
	width: 120px;
	height: 2em;
}

/**** Feature link ****/

a.feature {
	display: inline-block;
	width: 90px;
	height: 2em;
	padding: 0px 5px;
	line-height: 2em;
	
	background: rgb(84, 114, 16);
	
	font-family: sans-serif;
	font-weight: bold;
	color: rgb(240, 240, 240);
	text-decoration: none;
}

a.feature:hover {
	text-decoration: underline;
	cursor: pointer;
}

a.selected {
	background: rgb(215, 242, 149);
	color: rgb(140, 140, 140);
}
