/**** Global page styling ****/

body {
	
}

/**** Page layout ****/

#toolbar {
	height: 100px;
	width: 100%;
	background: rgb(84, 114, 16);
}

#viewer {
	width: 100%;
	top: 100px;
}

/**** Toolbar ****/

#categories {
	width: 100px;
	height: 100px;
	display: inline-block;
	float: left;
}

#categories a.category {
	display: block;
	width: 90px;
	height: 40px;
	padding: 5px;
	line-height: 40px;
	
	background: rgb(215, 242, 149);
	
	font-family: sans-serif;
	font-weight: bold;
	color: rgb(200, 200, 200);
}

#categories a.category:hover {
	text-decoration: underline;
	cursor: pointer;
}

#categories a.selected {
	background: rgb(84, 114, 16);
}

#options {
	float: left;
	width: 200px;
	height: 90px;
	padding: 5px;
}

#options select {
	width: 180px;
}

#appliances {
	float: left;
	height: 90px;
	padding: 5px;
}
