/** Global styles **/

body {
	padding: 5em;
}

ul.buttons {
	position: fixed;
	left: 5px;
	top: 5px;
	padding-left: 0;
	list-style-type: none;
}

ul.buttons li {
	display: inline-block;
	padding: 0 5px;
	cursor: pointer;
	text-decoration: none;
}

ul.buttons li:hover {
	text-decoration: underline;
}

table {
	padding-bottom: 50px;
}

th {
	font-size: x-large;
	font-weight: bold;
}

td.name {
	font-size: large;
	font-weight: bold;
	background: #F0F0F0;
}
