/** Global styles **/

body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-size: small;
	overflow-y: scroll;
}

a {
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

/** Start view **/

#start {
	width: 200px;
	margin: 0 auto;
	text-align: center;
	height: 90px;
}

/** Browser view **/

#browser-panel {
	float: left;
	width: 300px;
}

#browser-panel h1 {
	margin: 0;
	padding-left: 10px;
}

#item-panel {
	position: absolute;
	left: 300px;
}

ul.items {
	list-style-type: none;
	padding-left: 0;
}

ul.categories {
	list-style-type: none;
	padding-left: 0;
}

.categories > li a {
	padding-left: 15px;
	font-size: large;
	font-weight: normal;
	margin: 0;
}

.items > li a {
	padding: 0;
	margin: 0;
	text-indent: 40px;
	font-size: medium;
	font-weight: normal;
	line-height: 1.5em;
}

.items > li a:hover, .items > li a.selected {
	background: #F0F0F0;
}

a.header {
	background: #FFFFA0;
	text-align: center;
	font-size: medium;
}

a.header:hover {
	background: #FFFF00;
}

a.banner {
	width: 100%;
	display: block;
}

div.item {
	font-size: small;
	background: #F0F0F0;
	padding: 10px;
}

div.item img {
	float: right;
	padding: 20px;
	max-width: 300px;
	max-height: 300px;
}

/** Query view **/

#query {
	width: 100%;
}

#query form {
	width: 200px;
	margin: 0px auto;
	padding: 20px;
}

fieldset {
	border: none;
}
