body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-size: small;
	overflow-y: scroll;
}

/** Page layout **/

#content {
	min-width: 640px;
}

#query-view {
	width: 100%;
}

div.panel {
	width: 50%;
	height: 100%;
	display: inline-block;
	float: left;
}

/** Query form **/

#query {
	width: 200px;
	margin: 0px auto;
	padding: 20px;
}

fieldset {
	border: none;
}

/** Text **/

a {
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

ul.items {
	list-style-type: none;
	padding-left: 0;
}

ul.categories {
	list-style-type: none;
	padding-left: 0;
}

.categories > li {
	padding: 10px;
	padding-left: 5px;
	font-size: large;
	font-weight: normal;
	margin: 0;
}

.items > li {
	padding-top: 5px;
	text-indent: 40px;
	font-size: medium;
	font-weight: normal;
	margin: 0;
	line-height: 2em;
}

.items > li a:hover, .items > li a.selected {
	background: #F0F0F0;
}

a.header {
	background: #FFFFA0;
	text-align: center;
	font-size: medium;
}

a.header:hover {
	background: #FFFF00;
}

a.banner {
	width: 100%;
	display: block;
}

div.item {
	font-size: small;
	background: #F0F0F0;
	padding: 10px;
}
